.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0;
  width: 100%;
  z-index: 999;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
}

.header__rightMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__search {
    display: none !important;
  }
  .header__rightMenu {
    display: none;
  }
}

.header__right > button {
  margin-right: 15px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 42px;
  color: rgb(177, 169, 169);
  background-color: #eef3f8;
}

.header__search > input {
  font-size: 14px;
  padding-left: 4px;
  border: none;
  outline: none;
  background: none;
}

/* Hide the search bar, AddIcon, and other header icons on screens > 768px */
/* @media screen and (max-width: 768px) {
  .header__search,
  .header__right > *:not(last-child) {
    display: none;
  }
} */

/* @media screen and (max-width: 768px) {
  .header__search,
  .header__right > *:not(:last-child) {
    display: none;
  }
  .header__right > :last-child {
    display: flex;
  }
} */

/* .header__right > :nth-of-type(7) {
  display: none;
} */

.header__logo {
  margin-right: 3px;
}

.header__logoImg {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  object-fit: contain;
  height: 40px;
  width: 300px;
}

/* hide header__logo on big/desktop screens */
@media (min-width: 768px) {
  .header__logo {
    display: none;
  }
}

/* lets make  .header__left > img 's margin left a 0 on small screens aswell as   margin-left auto on .header__left and margin-right auto on header__menu for small screens */
@media screen and (max-width: 768px) {
  .header__left {
    margin-left: auto;
  }
  .header__left > img {
    object-fit: contain;
    height: 40px;
    margin-left: 15px !important;
  }
  .header__menu {
    margin-right: auto;
  }
}

@media screen and (min-width: 769px) {
  .header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 15px;
  }
}
